@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.svg#svgFontName") format("svg");
}

