//Colors
$white: #fff;
$grey-dark: #1e2025;
$grey-base: #2f323a;
$grey-light: #f5f5fa;
$transparent: transparent;

$grid-news-grey: #e7e7ed;
$grid-news-blue: #5c9df5;
$grid-news-grey-light: #b9b9b9;
$grid-news-grey-hr: #e2e2e9;
$grid-news-grey: #3c454c;
$grid-news-grey-more: #666666;


$t-grey-menu: #575a5f;


// horizontal / vertical rythm
$horizontal-rythm-spacing: 10px;
$vertical-rythm-bar-spacing: 10px;
