.menu {
  background: $grey-base;
  height: 100%;
  width: 264px;
  @include breakpoint(xs) {
    width: 50px;
  }

  &-logo {
    background: url('../images/logo.png');
    background-color: $grey-dark;
    background-repeat: no-repeat;
    background-position: 50%;
    text-indent: -9999px;
    padding: 20px 48px;
    width: 170px;
    height: 20px;
    display: block;
    @include breakpoint(xs) {
      padding: 20px 5px;
      background-position: -140px;
    }
  }

  &-header {
    color: $t-grey-menu;
    padding: 20px 25px;
    @include breakpoint(xs) {
      display: none;
    }
    &:after {
      content: '';
      background: $t-grey-menu;
      bottom: -10px;
      display: block;
      position: relative;
      height: 1px;
      width: 100%;
    }
  }


  &-btn {
    font-size: 16px;
    color: $white;
    text-decoration: none;
    display: block;
    padding: 15px 55px;
    @include breakpoint(xs) {
      padding: 15px 44px;
      color: $transparent;
    }

    &.active, &:hover {
      background-color: $grey-dark;
    }
  }

  &-close {
    background-color: $transparent;
    border: none;
    margin-top: 100px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    @include breakpoint(xs) {
      display: none;
    }
    &.active, &:hover {
      background-color: $transparent;
    }
  }
}
